html, body, body div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * Minimal base styles.
 */

/* 1) Always force a scrollbar in non-IE 
   2) Remove iOS text size adjust without disabling user zoom: www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
html { overflow-y: scroll; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }
  
/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
b, strong, th { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}

.ie6 legend, .ie7 legend { margin-left: -7px; } 

/* 1) Make inputs and buttons play nice in IE: www.viget.com/inspire/styling-the-button-element-in-internet-explorer/
   2) WebKit browsers add a 2px margin outside the chrome of form elements. 
      Firefox adds a 1px margin above and below textareas 
   3) Set font-size to match <body>'s, and font-family to sans-serif 
   4) Align to baseline */
button, input, select, textarea { width: auto; overflow: visible; margin: 0; font-size: 100%; font-family: sans-serif; vertical-align: baseline; }

/* 1) Remove default scrollbar in IE: www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/
   2) Align to text-top */
textarea { overflow: auto; vertical-align:text-top; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Remove extra padding and inner border in Firefox */
input::-moz-focus-inner,
button::-moz-focus-inner { border: 0; padding: 0; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }


body, select, input, textarea {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { 
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  color:#c06b81;
}
h1 { font-size:30px; margin-bottom:14px; }
h2 {  font-size:24px; }
h3 { font-size:18px; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration:none;
  color:#c06b81;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  text-decoration:underline;
}

p { padding-bottom:1em; }

p a { color:#c06b81; }
p a:hover { color:#e96587; }
p a:active { color:#111111; }
p a:visited { color:#92727a; }

li { list-style:none; }

.italic { font-style:italic; }
.center { text-align:center; }

table {
  border:1px solid black;
  margin-bottom:1em;
}
th {
  border:none;
  background:#cccccc;
}
tr { background-color:rgba(238,238,238,0.5); }
tr.odd { background-color:rgba(255,255,255,0.5); }
td {
  padding:15px;
  border:1px solid black;
}

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection { background: #fe57a1; color:#fff; text-shadow: none; }
::selection { background:#fe57a1; color:#fff; text-shadow: none; }

/**
 * Primary styles
 *
 * Author: Michael Lockwitz
 */

body {
  background:#ffffff url('page_bg.png');
}
#header {
  height:170px;
  width:100%;
  margin-top:4px;
  background:url('header_bg.png') repeat-x 0 25px;
  position:relative;
}
#header div {
  width:960px;
  margin:0 auto;
  position:relative;
}
#header img.center {
  position:absolute;
  left:160px;
  width:692px;
  height:170px;
}
#tagline {
  position:absolute;
  top:66px;
  right:0px;
  width:180px;
  font-size:10px;
  font-style:italic;
}

#content_box {
  width:100%;
  background:url('trans_white_bg.png');
}

#top_nav {
  border-bottom:2px solid #c06b81;
  margin-bottom:1em;
  padding-top:5px;
}
#top_nav ul {
  width:700px;
  margin:0 auto;
  padding:0;
}
#top_nav li {
  width:140px;
  margin-bottom:5px;
}
#top_nav a {
  color:#c06b81;
  font-size:18px;
}
#top_nav a:hover {
  border-bottom:5px solid #111111;
}
#top_nav a.active {
  border-bottom:5px solid #988361;
}

/* CONTENT ON EVERY PAGE */

#content {
  padding:0 20px;
  min-height:300px;
}
.page_description {
  width:960px;
  margin:0 auto;
}

/* HOME PAGE */
#facebook_like {
  float:left; 
}
.panel a li {
  color:black;
}

/* ABOUT PAGE */
.col_x3 {
  width:30%;
  float:left;
}
.col_1 {
  margin-right:10px;
}
.col_2 {
  margin:0 10px;
}
#col_2_fixed {
  width:290px;
  margin:0 auto;
}
#col_2_fixed li h3 {
  margin-left:-15px;
}
.col_3 {
  margin-left:10px;
}

/* SERVICES PAGE */

.service_item {
  width:800px;
  margin:0 auto;
  height:300px;
  position:relative;
}
.service_item h2 {
  width:380px;

}
.service_item p {
  width:380px;
}
.service_item img {
  width:380px;
  height:253px;
  position:absolute;
  right:0;
  top:0;
}

/* SPA PAGE */
.spa_table {
  width:450px;
  float:left;
}
.spa_table table {
  margin:0 auto;
}
.spa_service_item {
  width:960px;
  margin:0 auto;
}

/* SHELLAC PAGE */
#shellac {
  width:960px;
  margin:0 auto;
}
.shellac_service_item {
  width:420px;
  display:inline-block;
  padding:0 20px;
}

#sh01 { background-color:#f8f1e4; }
#sh02 { background-color:#ebe4e6; }
#sh03 { background-color:#e2dbd1; }
#sh04 { background-color:#f0c9c3; }
#sh05 { background-color:#f6c5c6; }
#sh06 { background-color:#ceb4b6; }
#sh07 { background-color:#b28590; }
#sh08 { background-color:#d06774; }
#sh09 { background-color:#e86d85; }
#sh10 { background-color:#ea4f8b; }
#sh11 { background-color:#e74277; }
#sh12 { background-color:#e54a40; }
#sh13 { background-color:#b7314b; }
#sh14 { background-color:#ad313a; }
#sh15 { background-color:#9f3036; }
#sh16 { background-color:#702a34; }
#sh17 { background-color:#57212c; }
#sh18 { background-color:#602b38; }
#sh19 { background-color:#e1af9f; }
#sh20 { background-color:#a17669; }
#sh21 { background-color:#c37655; }
#sh22 { background-color:#3f2f2d; }
#sh23 { background-color:#382534; }
#sh24 { background-color:#20201d; }


/* ARTIFICIAL NAIL PAGE */
.art_nail_service_item {
  width:960px;
  margin:0 auto;
}
.art_nail {
  width:300px;
  display:inline-block;
  margin-left:20px;
}


/* CONTACT PAGE */
.small_content {
  width:960px;
  margin:0 auto;
}
#contact_left {
  width:460px;
  display:inline-block;
}
#map_canvas { 
  display:inline-block;
  height: 500px;
  width: 400px;
  margin-left:20px;
}

/* CONTACT FORM */
#contact_us ul {
  width:450px;
  margin:0;
}
#contact_us li {
  text-align:right;
  padding:5px;
}
#contact_us li label {
  padding-right:3px;
}
#contact_us li input {
  width:280px;
  height:26px;
}
#contact_us li select {
  width:284px;
  height:26px;
}
#contact_us li textarea {
  width:280px;
  height:60px;
}
#contact_us input.submit {
  width:75px;
}
#contact_us li.error {
  color:red;
  text-align:left;
  list-style:disc inside;
  margin-left:5px;
  padding:0;
}
#contact div.message {
  margin-bottom:10px;
}
#contact_left li h3 {
  margin-left:-15px;
}



/* FOOTER */
#bottom_nav {
  margin-top:1em;
  border-top:2px solid #c06b81;
}
#bottom_nav ul {
  width:700px;
  margin:0 auto;
}
#bottom_nav li {
  width:140px;
  margin:.5em 0;
}
#bottom_nav a {
  color:#aaa;
  font-size:14px;
}
#bottom_nav a:hover {
  border-bottom:2px solid #111;
}
#bottom_nav a.active {
  color:#666;
  border-bottom:none;
}

#content_bottom_bg {
  width:100%;
  height:40px;
  background:url('content_bottom_bg.png') repeat-x;
}
#footer {
  width:960px;
  margin:0 auto;
}
#footer li {
  width:300px;
  text-align:left;
  font-size:12px;
  display:inline;
}
#footer li a {
  color:#444444;
}
#footer li a:hover {
  color:#111111;
}









.nav li {
  list-style:none;
  display:inline;
  font-family:"Times New Roman", Times, serif;
  float:left;
  text-align:center;
}
.nav li a {
  text-decoration:none;
}






/**
 * Non-semantic helper classes: please define your styles before this section.
 */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements in most situations.
   nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/*** HOME PAGE CAROUSEL ***/
#s585 ul {
  width:585px;
  margin:0 auto;
}
.p1_service {
  width:135px;
  height:420px;
  margin-top:-53px;
  margin-right:15px;
  float:left;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.p1_service.last {
  margin-right:0;
}
.p1_service h2 {
  margin-top:385px;
  font-size:18px;
}
.p1_service:hover {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity:1;
  -khtml-opacity: 1;
  opacity: 1;
}
#p1_a {
  background-image:url('home_sprite_p1.jpg');
  background-position:0,0;
  background-repeat:no-repeat;
}
#p1_b {
  background-image:url('home_sprite_p1.jpg');
  background-position:-135px,0;
  background-repeat:no-repeat;
}
#p1_c {
  background-image:url('home_sprite_p1.jpg');
  background-position:-270px,0;
  background-repeat:no-repeat;
}
#p1_d {
  background-image:url('home_sprite_p1.jpg');
  background-position:-405px,0;
  background-repeat:no-repeat;
}
.panel-wrapper.large {
  width:492px;
  height:310px;
  margin:0 auto;
  position:relative;
}
.panel-wrapper.p2 {
  background:#fff url('home_p2.jpg') 9px 9px no-repeat;
}
.panel-wrapper.p3 {
  background:#fff url('home_p3.jpg') 9px 9px no-repeat;
}
.panel-wrapper.p4 {
  background:#fff url('home_p4.jpg') 9px 9px no-repeat;
}
.panel-wrapper.p5 {
  background:#fff url('home_p5.jpg') 9px 9px no-repeat;
}
.panel-header {
  background:#fff;
  padding:6px;
  position:absolute;
}
.panel-header.p2 {
  width:200px;
  top:260px;
  right:9px;
}
.panel-header.p3 {
  width:220px;
  right:9px;
  top:30px;
}
.panel-header.p4 {
  width:256px;
  left:9px;
  top:30px;
}
.panel-header.p5 {
  width:510px;
  left:9px;
  top:30px;
}
.panel-header h2 {
  font-size:42px;
  line-height:34px;
}
.panel-wrapper ul {
  margin-left:0px;
  line-height:12px;
}
.panel-wrapper.large li {
  display:inline;
  background:url('small_bullet.png')0 6px no-repeat;
  font-size:12px;
  padding-left:5px;
  margin-left:4px;
}
.coda-slider-wrapper {
  display:table;
  margin:0 auto;
  width:960px;
}
.coda-slider {
  
}

/* Use this to keep the slider content contained in a box even when JavaScript is disabled */
.coda-slider-no-js .coda-slider {
  height: 200px;
  overflow: auto !important;
  padding-right: 20px;
}

/* Change the width of the entire slider (without dynamic arrows) */
.coda-slider, .coda-slider .panel { 
  width:960px;
} 

/* Change margin and width of the slider (with dynamic arrows) */
.coda-slider-wrapper.arrows .coda-slider, .coda-slider-wrapper.arrows .coda-slider .panel {
  width: 730px;
}
.coda-slider-wrapper.arrows .coda-slider {
  padding: 0 0;
}

/* Arrow styling */
.coda-nav-left a {
  background-image:url('carousel_left.png');
  background-repeat:no-repeat;
  background-position:0 100px;
  width:108px;
  min-height:400px;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.coda-nav-left a:hover {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity:1;
  -khtml-opacity:1;
  opacity:1;
}
.coda-nav-right a {
  background:url('carousel_right.png') no-repeat;
  background-position:0 100px;
  width: 108px;
  min-height:400px;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.coda-nav-right a:hover {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity:1;
  -khtml-opacity:1;
  opacity:1;
}

/* Tab nav */
#coda-nav-1 {
  float:right;
  margin-right:200px;
}
.coda-nav ul li a.current {
  background:url('carousel_circle.png') no-repeat;
  width: 100%; 
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity:1;
  -khtml-opacity:1;
  opacity:1;
}

/* Panel padding */
.coda-slider .panel-wrapper {
  padding: 32px
}

/* Preloader */
.coda-slider p.loading {
  padding: 20px;
  text-align: center
}

/* Don't change anything below here unless you know what you're doing */

/* Tabbed nav */
.coda-nav ul {
  clear: both;
  display: block;
  margin: auto;
}
.coda-nav ul li {
  float:left;
  list-style:none;
}
.coda-nav ul li a {
  background:url('carousel_circle.png') no-repeat;
  padding-left:13px;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  position: static;
}

/* Miscellaneous */
.coda-slider-wrapper {
  clear: both;
  overflow: auto
}
.coda-slider {
  float: left;
  overflow: hidden;
  position: relative;
}
.coda-slider .panel {
  display: block;
  float: left;
}
.coda-slider .panel-container {
  position: relative;
}
.coda-nav-left, .coda-nav-right {
  float: left;
}
.coda-nav-left a, .coda-nav-right a {
  display: block;
  text-align: center;
  text-decoration: none;
}



/*** TOP NAVIGATION DROP DOWN MENU ***/
.sf-menu, .sf-menu * {
  margin:     0;
  padding:    0;
  list-style:   none;
}
.sf-menu {
  line-height:  1;
}
.sf-menu ul {
  position:   absolute;
  top:      -999em;
   /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
}
.sf-menu li:hover {
  visibility:   inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
  float:      left;
  position:   relative;
}
.sf-menu a {
  position:   relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  left:28px;
  top:28px;
  z-index:9999;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
  top:      -999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
   /* match ul width */
  top:      0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
  top:      -999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
   /* match ul width */
  top:      0;
}

/*** DEMO SKIN ***/
#top_nav .sf-menu li ul{
  margin-top:7px;
}
.sf-menu li li {
  text-decoration:none;
  background:#c06b81;
  height:25px;
  margin-top:-5px;
}
#top_nav .sf-menu li li {
  width:220px;
}
#top_nav .sf-menu li li a {
  padding:3px;
  color:#fff;
  display:block;
  border-top:1px solid #ffffff;

  text-align:left;
}
#top_nav .sf-menu li li a.first {
  border-top:1px solid #c06b81;
}
#top_nav .sf-menu li li a.first:hover {
  
}
#top_nav .sf-menu li li a.second {
  padding-bottom:4px;
  padding-top:2px;
}
#top_nav .sf-menu li li a:hover {
  border-bottom:1px solid white;
}
.sf-menu li li:hover {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -moz-opacity:.8;
  -khtml-opacity:.8;
  opacity:.8;
}
.sf-menu ul li:hover, .sf-menu ul li.sfHover,
.sf-menu ul a:focus, .sf-menu ul a:hover, .sf-menu ul a:active {
}

/*** arrows **/
.sf-menu a.sf-with-ul {
}
.sf-sub-indicator {
  position:   absolute;
  display:    block;
  right:      .75em;
  top:      1.05em; /* IE6 only */
  width:      10px;
  height:     10px;
  text-indent:  -999em;
  overflow:   hidden;
  background:   url('arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
  top:      .8em;
  background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
  background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
  background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
  background: url('shadow.png') no-repeat bottom right;
  padding: 0 8px 9px 0;
  -moz-border-radius-bottomleft: 17px;
  -moz-border-radius-topright: 17px;
  -webkit-border-top-right-radius: 17px;
  -webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
  background: transparent;
}

/**
 * Placeholder media queries for responsive design. Modify as design requires.
 * These follow after, and will override, the primary ('mobile first') styles
 * The closing /mediaquery comment is required by respond.js min/max-width Media Query polyfill
 */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}/*/mediaquery*/

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}/*/mediaquery*/



/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

.coda-nav-right, .coda-nav-left {
  overflow: hidden;
  text-indent: -99999px;
}