<div class="col_x3 col_1">
  <div class="">
    <h1>Must Know Info!</h1>
    <p>Studio 1001 is a spa and nail treatment facility located in the Broad Ripple area. The business services clients from all over Indianapolis, Carmel, Fishers and Noblesville. Located on Hillside Ave in the rustic strip mall behind Keystone Ave's LA Fitness building, Studio 1001 offers spa treatments essential for today's elegant lady.</p>
  </div>
  <div class="">
    <h2>Our Services Include</h2>
    <p>Our services include spa manicure and pedicure treatments for hand and toenails, artificial nail enhancements, shellac and unique decorations created by transforming normal, everyday items into beautiful pieces of art. Our goal is to make sure that you the client walk out of our shop with perfectly treated hands and feet and a smile to match.</p>
  </div>
</div>
<div class="col_x3 col_2">
  <div class="center">
    <%= image_tag 'andrea_buchwald_bio.jpg', alt: 'Owner of Studio 1001' %>
  </div>
  <div id="col_2_fixed">
    <h2>Find Us!</h2>
    
    <ul>
      <li><h3>Address:</h3></li>
      <li>6144 Hillside Ave #1</li>
      <li>Indianapolis, IN 46220-2474</li>
    </ul>
    <ul>
      <li><h3>Phone:</h3></li>
      <li>(317) 475-0087</li>
    </ul>
  </div>
</div>
<div class="col_x3 col_3">
  <div class="">
    <h2>History</h2>
    <p>Studio 1001 started in Broad Ripple 25 years ago. Originally donning the name Studio 54, the name changed after moving to a new address on Broad Ripple Avenue. The company has since moved into a wonderful new location on Hillside Ave, one street west of Keystone where many of the same clients continue to receive top of the line treatment.</p>
  </div>
  <div class="">
    <h2>Message to Clients</h2>
    <p>We are happy to continue serving Broad Ripple, the north side of Indianapolis, and the surrounding areas as we have been for 25 years. We couldn't continue without your support which means the world to us. Please <a href="contact" title="Click to contact Studio 1001">contact us</a> for an appointment where you can be sure to feel at home, at ease and appreciated.</p>
  </div>
</div>