<h1>Contact and Appointments for Studio 1001</h1>
  <div id="contact_left">
    <div class="">
      <p>Email, call or write us with any questions about our products, service, schedule, etc. Our goal is to leave you completely satisfied with your experience. Is there something you'd like to see in our studio on your next visit? Let us know today!</p>
    </div>
    <div id="contact_us" class="">
      <h2>Contact Us!</h2>
      
      <!-- <form id="frmContact" action="sendmail.php" method="post">
        <ul>
          <li><label for="frmName" class="frmContact_label">Name</label><input type="text" name="frmName" id="frmName" /></li>
          <li><label for="frmEmail" class="frmContact_label">E-mail</label><input type="text" name="frmEmail" id="frmEmail" /></li>
          <li><label for="frmReason" class="frmContact_label">Reason for Contact</label><select name="frmReason" id="frmReason" />
            <option value="Spa">Spa</option>
            <option value="Shellac">Shellac</option>
            <option value="Artificial Nail Enhancement">Artificial Nail Enhancement</option>
            <option value="Painted Lady">Painted Lady</option>
          </select></li>
          <li><textarea name="frmComment" id="frmComment">Comment here</textarea></li>
          
          <li><span class="hidden"><p>Honeypot:</p> <input type="text" name="last" value="" id="last" /></span></li>
          <li><input type="button" value="Send" class="submit siteFont" /></li>
        </ul>
      </form>
      
      <div class="message"></div> -->
      Email us at <%= link_to 'contact@studio1001.net', 'mailto:contact@studio1001.net' %>
    </div>
    <div class="">
      <h2>Find Us!</h2>
      <ul>
        <li><h3>Address:</h3></li>
        <li>6144 Hillside Ave #1</li>
        <li>Indianapolis, IN 46220-2474</li>
      </ul>
      <ul>
        <li><h3>Phone:</h3></li>
        <li>(317) 475-0087</li>
        <li><h3>Hours:</h3></li>
        <li class="italic">Currently by appointment only.</li>
      </ul>
    </div>
  </div>
  <!-- <div id="map_canvas">
  </div> -->