<noscript>
  <div>
    <p>Unfortunately your browser does not have JavaScript capabilities which are required to exploit full functionality of our site. This could be the result of two possible scenarios:</p>
    <ol>
      <li>You are using an old web browser, in which case you should upgrade it to a newer version. We recommend the latest version of <a href="http://www.getfirefox.com">Firefox</a>.</li>
      <li>You have disabled JavaScript in you browser, in which case you will have to enable it to properly use our site. <a href="http://www.google.com/support/bin/answer.py?answer=23852">Learn how to enable JavaScript</a>.</li>
    </ol>
  </div>
</noscript>
<div class="coda-slider-wrapper">
  <div class="coda-slider preload" id="coda-slider-1">
    <div class="panel">
      <div class="panel-wrapper" id="s585">
        <ul>
          <a href="/spa" title="" style="text-decoration:none;"><li class="p1_service" id="p1_a"><h2 class="center">Manicures</h2></li></a>
          <a href="/spa" title="" style="text-decoration:none;"><li class="p1_service" id="p1_b"><h2 class="center">Pedicures</h2></li></a>
          <a href="/shellac" title="" style="text-decoration:none;"><li class="p1_service" id="p1_c"><h2 class="center">Shellac</h2></li></a>
          <a href="/paintedlady" title="" style="text-decoration:none;"><li class="p1_service last" id="p1_d"><h2 class="center">Painted Lady</h2></li></a>
        </ul>
      </div>
    </div>
    <div class="panel">
      <a href="/spa" title="" style="text-decoration:none;">
      <div class="panel-wrapper large p2">
        <div class="panel-header p2">
          <h2 class="title">Manicure</h2>
          <ul class="first">
            <li>Spa treament</li>
            <li>Cuticle removal</li>
          </ul>
        </div>
      </div>
      </a>
    </div>
    <div class="panel">
      <a href="/spa" title="" style="text-decoration:none;">
      <div class="panel-wrapper large p3">
        <div class="panel-header p3">
          <h2 class="title">Pedicure</h2>
          <ul class="first">
            <li>Spa treament</li>
            <li>Remove dry, hard skin</li>
          </ul>
        </div>
      </div>
      </a>
    </div>
    <div class="panel">
      <a href="/shellac" title="" style="text-decoration:none;">
      <div class="panel-wrapper large p4">
        <div class="panel-header p4">
          <h2 class="title">Shellac</h2>
          <ul class="first">
            <li>Manicure</li>
            <li>Pedicure</li>
            <li>Brand new treatment</li>
          </ul>
          <ul>
            <li>Dry before you leave</li>
            <li>Lasts up to two weeks</li>
          </ul>
        </div>
      </div>
      </a>
    </div>
    <div class="panel">
      <a href="/artificial_nail_enhancement" title="" style="text-decoration:none;">
      <div class="panel-wrapper large p5">
        <div class="panel-header p5">
          <h2 class="title">Artificial Nail Enhancement</h2>
          <ul class="first">
            <li>Full set</li>
            <li>Individual fill-in</li>
            <li>Be ready for any engagement</li>
            <li>Longer nails instantly</li>
          </ul>
        </div>
      </div>
      </a>
    </div>
  </div><!-- .coda-slider -->
  <div id="facebook_like">
    
    <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.studio1001.net&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=35" scrolling="no" frameborder="0" style="height: 62px; width: 100%" allowTransparency="true"></iframe>
  </div>
  <div id="coda-nav-1" class="coda-nav">
    <ul>
      <li class="tab1"><a href="#1"></a></li>
      <li class="tab2"><a href="#2"></a></li>
      <li class="tab3"><a href="#3"></a></li>
      <li class="tab4"><a href="#4"></a></li>
      <li class="tab5"><a href="#5"></a></li>
    </ul>
  </div>
</div><!-- .coda-slider-wrapper -->