<div class="page_description">
  <h1>Painted Lady</h1>
  <p>One unique service we offer creates those cool, matchless products you can use to decorate your home that you've always wanted. We refurbish antique items into new and interesting products that you'll absolutely love. Come over and talk to us about the specialty projects we are currently working on as well as those planned for the future!</p>

</div>