<div class="page_description">
  <h1>Studio 1001 Services Overview</h1>
  <p>Studio 1001 offers various spa services for our clients' benefit. Spa services include full service manicures and pedicures. Our prices are listed for your convenience. Please <a href="contact" title="Click to contact Studio 1001">contact us</a> today to set up your next spa treatment.</p>
</div>
<div class="service_item ">
  <h2><a href="/spa" title="Click here to learn more about Studio 1001's spa offerings">Spa</a></h2>
  <p>Spa services at Studio 1001 in Broad Ripple include full service pedicures and manicures. Our processes will leave your hands and feet feeling fresh and revitalized while making sure they are beautiful to match. We use various gels, acrylics, polishes and shellacs to finish the job after we get rid of those pesky cuticles and dead skin. It is our goal to make your experience so pleasant that you will wish you had to get them more often.</p>
  <a href="/spa" title="Click here to learn more about Studio 1001's spa offerings"><%= image_tag 'spa.jpg', alt: '' %></a>
</div>
<div class="service_item ">
  <h2><a href="/shellac" title="Click here to learn more about Studio 1001's shellac offerings">Shellac</a></h2>
  <p>Shellac is the newest treatment available for nails. We offer over 64 shades of color in our Broad Ripple store to match your exact needs and desires. There is no need to fret over smudging the shellac after you leave because our procedure will allow your nails to be dry before you go. Your hands and nails will be ready for the world to view and for you to use freely. Best of all, the coating lasts for two weeks.</p>
  <a href="/shellac" title="Click here to learn more about Studio 1001's shellac offerings"><%= image_tag 'shellac.jpg', alt: '' %></a>
</div>
<div class="service_item ">
  <h2><a href="/artificial_nail_enhancement" title="Click here to learn more about Studio 1001's artificial nail enhancement offerings">Artificial Nail Enhancement</a></h2>
  <p>Artificial Nail Enhancement gives you long, luscious nails in one trip to our Broad Ripple location. Are your nails too weak to grow out? Do you need longer nails in a hurry? With this nail accessory treatment your nails will look and feel real in a relatively short amount of time. We add a form fitted extension to your existing nail, enhancing rather than replacing it.</p>
  <a href="/artificial_nail_enhancement" title="Click here to learn more about Studio 1001's artificial nail enhancement offerings"><%= image_tag 'art_nails.jpg', alt: '' %></a>
</div>